<!DOCTYPE html>

<!--Navbar-->
<div class="booyah-box">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Flixter</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">See All Courses <span class="sr-only">(current)</span></a>
        </li>
      </ul>
          <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Sign out', 'destroy_model_session_path', method:delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', 'new_model_session_path', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', 'new_user_registration_path', class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    </div>
  </nav>
</div>

<!--Background-->
<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>I'm an illusionist, Michael.</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<!--Splits feature section into 3 equal parts-->
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of couress to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a comminuty of like-minded individuals.</p>
  </div>
</div>

<!--Footer-->
<div id="footer">
  <div class="container">
    <b>Footer Here</b>
    <br />
    <%= link_to 'Link', '#' %>
  </div>
</div>

</html>